.ui-gpHeader {
  background-color: #006;
  box-sizing: border-box;
  color: #ccc;
  font-size: 12px;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 100%; }
  .ui-gpHeader a {
    text-decoration: none; }
  .ui-gpHeader :link,
  .ui-gpHeader :visited {
    color: inherit; }
  .ui-gpHeader :link:hover {
    text-decoration: underline; }
  .ui-gpHeader-title {
    color: #fff;
    font-weight: bold;
    margin-left: 1em; }
  .ui-gpHeader-contentArea {
    float: right;
    margin-top: -20px; }
  .ui-gpHeader-group {
    display: inline-block;
    position: relative;
    margin-right: 1em;
    margin-left: 1em; }
    .ui-gpHeader-group-linkList {
      position: absolute;
      top: 100%;
      right: 0; }
  .ui-gpHeader-link {
    display: block; }

body {
  font-family: verdana,arial,helvetica,sans-serif;
  padding-top: 20px; }
