include ui-gpHeader

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title GP Header
		link(rel='stylesheet', href='css.css')
	body

		+ui-gpHeader
			+ui-gpHeader-title({ url:'/' }) GP Header
			+ui-gpHeader-contentArea
				+ui-gpHeader-group('Group 1')
					+ui-gpHeader-group-item('/dummy/items/1') Item 1
					+ui-gpHeader-group-item('/dummy/items/2') Item 2
					+ui-gpHeader-group-item('/dummy/items/3') Item 3
				+ui-gpHeader-group('Group 2')
					+ui-gpHeader-group-item('/dummy/items/1') Item 1
					+ui-gpHeader-group-item('/dummy/items/2') Item 2
					+ui-gpHeader-group-item('/dummy/items/3') Supercalifragilisticexpialidocious
				+ui-gpHeader-group('Supercalifragilisticexpialidocious Group')
					+ui-gpHeader-group-item('/dummy/items/1') Item 1
					+ui-gpHeader-group-item('/dummy/items/2') Item 2
					+ui-gpHeader-group-item('/dummy/items/3') Item 3

		h1 GP Header
