$ui-gpHeader-color-base: #006
$ui-gpHeader-color-border: #ccc
$ui-gpHeader-color-text-strong: #fff
$ui-gpHeader-color-text: #ccc
$ui-gpHeader-font-size: 12px
$ui-gpHeader-height: 20px

.ui-gpHeader
	background-color: $ui-gpHeader-color-base
	box-sizing: border-box
	color: $ui-gpHeader-color-text
	font-size: $ui-gpHeader-font-size
	height: $ui-gpHeader-height
	left: 0
	line-height: $ui-gpHeader-height
	position: absolute
	top: 0
	width: 100%

	a
		text-decoration: none
	:link,
	:visited
		color: inherit
	:link:hover
		text-decoration: underline

	&-title
		color: $ui-gpHeader-color-text-strong
		font-weight: bold
		margin-left: 1em

	&-contentArea
		float: right
		margin-top: -$ui-gpHeader-height

	&-group
		display: inline-block
		margin-right: 1em
		position: relative
		vertical-align: top

		&-title
			background-color: $ui-gpHeader-color-base
			border-color: transparent
			border-style: none solid
			border-width: 1px
			cursor: default
			display: inline-block
			padding-left: 0.5em
			padding-right: 0.5em
			position: relative
		&:hover &-title
			border-color: $ui-gpHeader-color-border
			border-top-style: solid
			z-index: 1

		&-linkList
			background-color: $ui-gpHeader-color-base
			border: 1px solid $ui-gpHeader-color-border
			box-shadow: 0 0.5em 0.5em rgba($ui-gpHeader-color-base,0.3)
			display: none
			margin-top: -1px
			min-width: 100%
			position: absolute
			right: 0
			top: 100%
		&:hover &-linkList
			display: block

	&-link
		display: block
		padding: 0.2em 1em
		white-space: nowrap
