mixin ui-gpHeader
	header.ui-gpHeader
		block

mixin ui-gpHeader-title(options)
	div.ui-gpHeader-title
		a.ui-gpHeader-title-link(href=options.url)
			block

mixin ui-gpHeader-contentArea
	div.ui-gpHeader-contentArea
		block

mixin ui-gpHeader-group(options)
	if typeof options === 'string'
		- options = { title:options }

	nav.ui-gpHeader-group
		div.ui-gpHeader-group-title=options.title
		div.ui-gpHeader-group-linkList
			block

mixin ui-gpHeader-group-item(options)
	if typeof options === 'string'
		- options = { url:options }

	a.ui-gpHeader-link(href=options.url)
		block
