$ui-gpHeader-color-base: #006
$ui-gpHeader-color-text-strong: #fff
$ui-gpHeader-color-text: #ccc
$ui-gpHeader-height: 20px

.ui-gpHeader
	background-color: $ui-gpHeader-color-base
	box-sizing: border-box
	color: $ui-gpHeader-color-text
	font-size: 12px
	height: $ui-gpHeader-height
	left: 0
	line-height: $ui-gpHeader-height
	position: absolute
	top: 0
	width: 100%

	a
		text-decoration: none
	:link,
	:visited
		color: inherit
	:link:hover
		text-decoration: underline

	&-title
		color: $ui-gpHeader-color-text-strong
		font-weight: bold
		margin-left: 1em

	&-contentArea
		float: right
		margin-top: -$ui-gpHeader-height

	&-group
		display: inline-block
		margin-left: 1em
		margin-right: 1em
		position: relative

		&-title

		&-linkList
			position: absolute
			right: 0
			top: 100%

	&-link
		display: block
